<!DOCTYPE html>
<html>
<head>
	<title>NodeJSRobot</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
	<nav>
		<a href="#">Robot Controller</a>
		<a href="#">About</a>
		<a href="#">Contact</a>
	</nav>
	<div class="container">
		<div class="frame">
			<h1>ROBOT CAMERA</h1>
		</div>
	</div>
	<div class="buttons">
		<button class="arrow-button" id="left-button">&#8592;</button> <!-- Left arrow -->
		<button class="arrow-button" id="up-button">&#8593;</button> <!-- Up arrow -->
		<button class="arrow-button" id="right-button">&#8594;</button> <!-- Right arrow -->
		<button class="arrow-button" id="down-button">&#8595;</button> <!-- Down arrow -->
	</div>
    <script src="script.js"></script>
</body>
</html>