nav {
    background-color: #333;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
    margin-top: 5px;
}

.frame {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame h1 {
    opacity: 0.3;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.console {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.console button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #333;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}
.properties button{
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}
.properties{
    margin-left:50px;
}
.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.arrow-button.red {
    background-color: red;
    color: white;
    box-shadow: 5px 3px 20px 1px black;
}
#brake-button{
    border-radius: 30px;
    width: 200px;
}